# Process all files as PHP by default

# Fix sub-directory requests by allowing 'index' as a DirectoryIndex value

RewriteEngine On
# Force the domain to load with the www subdomain prefix
# If the request doesn't start with www...
RewriteCond %{HTTP_HOST}   !^minhosting\.dk [NC]
# And the site name isn't empty
RewriteCond %{HTTP_HOST}   !^$
# Finally rewrite the request: end of rules, don't escape the output, and force a 301 redirect
RewriteRule ^/?(.*)         http://minhosting.dk/$1 [L,R,NE]



Options +FollowSymLinks -MultiViews

RewriteRule ^(.+)\.php$ /$1 [R,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php [NC,END]

ErrorDocument 404  http://minhosting.dk/404


ErrorDocument 500 /404.php
ErrorDocument 404 /404.php
ErrorDocument 401 /404.php